<section>
  <h2>Hello World, from Phoenix!</h2>
  <canvas id="world" width="200" height="100" style="border:1px solid #000000;"></canvas>

  <script>
    var canvas = document.getElementById('world');
    var ctx = canvas.getContext('2d');
    ctx.beginPath();
    ctx.lineWidth = "6";
    ctx.strokeStyle = "red";
    ctx.rect(5, 5, 1, 1);
    ctx.rect(10, 10, 1, 1);
    ctx.stroke();

   </script>



</section>
